<!-- Start Brands Area -->
<div class="brand-logo-area brand-logo-style1-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="swiper-container-wrap swiper-nav-style brand-logo-slider-nav">
                    <div class="swiper-container brand-logo-slider-container">
                        <div class="swiper-wrapper brand-logo-slider">
                            <div class="swiper-slide brand-logo-item">
                                {% include 'mixin/img.twig' with {
                                    'src': "http://dummyimage.com/111x81/FFA07A",
                                    'alt': 'Brand-Logo',
                                    'style': 'height: 81px; width=111px; object-fit: contain;'
                                } only %}
                            </div>
                            <div class="swiper-slide brand-logo-item">
                                {% include 'mixin/img.twig' with {
                                    'src': "http://dummyimage.com/111x81/FF8C00",
                                    'alt': 'Brand-Logo',
                                    'style': 'height: 81px; width=111px; object-fit: contain;'
                                } only %}
                            </div>
                            <div class="swiper-slide brand-logo-item">
                                {% include 'mixin/img.twig' with {
                                    'src': "http://dummyimage.com/111x81/FFA500",
                                    'alt': 'Brand-Logo',
                                    'style': 'height: 81px; width=111px; object-fit: contain;'
                                } only %}
                            </div>
                            <div class="swiper-slide brand-logo-item">
                                {% include 'mixin/img.twig' with {
                                    'src': "http://dummyimage.com/111x81/FFDAB9",
                                    'alt': 'Brand-Logo',
                                    'style': 'height: 81px; width=111px; object-fit: contain;'
                                } only %}
                            </div>
                            <div class="swiper-slide brand-logo-item">
                                {% include 'mixin/img.twig' with {
                                    'src': "http://dummyimage.com/111x81/9ACD32",
                                    'alt': 'Brand-Logo',
                                    'style': 'height: 81px; width=111px; object-fit: contain;'
                                } only %}
                            </div>
                            <div class="swiper-slide brand-logo-item">
                                {% include 'mixin/img.twig' with {
                                    'src': "http://dummyimage.com/111x81/FFFF00",
                                    'alt': 'Brand-Logo',
                                    'style': 'height: 81px; width=111px; object-fit: contain;'
                                } only %}
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brands Area -->
