<!-- Start Hero Area -->
{% set special=publication({category_uuid: '9c4c906a-7ad5-4c2c-bf3d-d3e4e6828d47'}, {'date': 'desc'}, 3) %}

<div class="col-md-9">
    <div class="home-slider-content mb-md-30 mb-20">
        <!-- Start Hero Slider -->
        <div class="swiper-container home-slider2-container">

            <div class="swiper-wrapper">
                <!-- Start Single Slider -->
                {% for item in  special %}
                    <div class="swiper-slide">
                        <!-- Start Slide Item -->
                        <div class="home-slider-item">
                            <div class="thumb-one bg-img" data-bg-img="/resource/img/large.jpg"></div>
                            <div class="slider-content-area">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="content">

                                                <div class="inner-content">
                                                    <div class="wrap-one">
                                                        <h5>{{ item.title }}</h5>
                                                    </div>
                                                    <div class="wrap-two">
                                                        <h2>{{ item.meta.description|raw }}</h2>
                                                    </div>
                                                    <div class="wrap-three">
                                                        <h2>{{ item.content.short|raw }}</h2>
                                                    </div>
                                                    <div class="wrap-four">
                                                        <p>Best Offer Low Price.</p>
                                                    </div>
                                                    <div class="wrap-five">
                                                        <a href="/catalog" class="btn-theme">Shop Now</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- End Slide Item -->
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- End Hero Slider -->
    </div>
</div>
<div class="col-md-3">
    <div class="category-items2">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="category-item mb-sm-30 mb-15">
                    <div class="thumb">
                        <a href="/catalog">
                            {% include 'mixin/img.twig' with {
                                'src': 'http://placehold.it/273x240/',
                                'alt': 'Special',
                                'style': 'height: 240px; width=273px; object-fit: contain;'
                            } only %}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-6 mb-xs-30">
                <div class="category-item">
                    <div class="thumb">
                        <a href="/catalog">
                            {% include 'mixin/img.twig' with {
                                'src': 'http://placehold.it/273x241/',
                                'alt': 'Special',
                                'style': 'height: 241px; width=273px; object-fit: contain;'
                            } only %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Hero Area -->