<!-- Start Hero Area -->

<div class="col-md-9">
    <div class="home-slider-content mb-md-30 mb-20">
        <!-- Start Hero Slider -->
        <div class="swiper-container home-slider2-container">

            <div class="swiper-wrapper">
                <!-- Start Single Slider -->
                <div class="swiper-slide">
                    <!-- Start Slide Item -->
                    <div class="home-slider-item">
                        <div class="thumb-one bg-img" data-bg-img="/resource/img/large.jpg"></div>
                        <div class="slider-content-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="content">
                                            <div class="inner-content">
                                                <div class="wrap-one">
                                                    <h5>Organic food</h5>
                                                </div>
                                                <div class="wrap-two">
                                                    <h2>Fresh Fruits</h2>
                                                </div>
                                                <div class="wrap-three">
                                                    <h2>Spring Sale</h2>
                                                </div>
                                                <div class="wrap-four">
                                                    <p>Best Offer Low Price.</p>
                                                </div>
                                                <div class="wrap-five">
                                                    <a href="/catalog" class="btn-theme">Shop Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Slide Item -->
                </div>
                <!-- End Single Slider -->
                <!-- Start Single Slider -->
                <div class="swiper-slide">
                    <!-- Start Slide Item -->
                    <div class="home-slider-item">
                        <div class="thumb-one bg-img" data-bg-img="/resource/img/large.jpg"></div>
                        <div class="slider-content-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="content">
                                            <div class="inner-content">
                                                <div class="wrap-one">
                                                    <h5>Summer Sale</h5>
                                                </div>
                                                <div class="wrap-two">
                                                    <h2>Fresh Fruits</h2>
                                                </div>
                                                <div class="wrap-three">
                                                    <h2>& Vegetable</h2>
                                                </div>
                                                <div class="wrap-four">
                                                    <p>Use code: #Jenaday01</p>
                                                </div>
                                                <div class="wrap-five">
                                                    <a href="/catalog" class="btn-theme">Shop Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Slide Item -->
                </div>
                <!-- End Single Slider -->
                <!-- Start Single Slider -->
                <div class="swiper-slide">
                    <!-- Start Slide Item -->
                    <div class="home-slider-item">
                        <div class="thumb-one bg-img" data-bg-img="/resource/img/large.jpg"></div>
                        <div class="slider-content-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="content">
                                            <div class="inner-content">
                                                <div class="wrap-one">
                                                    <h5>Organic food</h5>
                                                </div>
                                                <div class="wrap-two">
                                                    <h2>Fresh Fruits</h2>
                                                </div>
                                                <div class="wrap-three">
                                                    <h2>Spring Sale</h2>
                                                </div>
                                                <div class="wrap-four">
                                                    <p>Best Offer Low Price.</p>
                                                </div>
                                                <div class="wrap-five">
                                                    <a href="/catalog" class="btn-theme">Shop Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Slide Item -->
                </div>
                <!-- End Single Slider -->
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- End Hero Slider -->
    </div>
</div>
<div class="col-md-3">
    <div class="category-items2">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="category-item mb-sm-30 mb-15">
                    <div class="thumb">
                        <a href="shop.html"><img src="http://placehold.it/273x240/" alt="Image" width="273"
                                                 height="240"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-6 mb-xs-30">
                <div class="category-item">
                    <div class="thumb">
                        <a href="shop.html"><img src="http://placehold.it/273x241/" alt="Image" width="273"
                                                 height="241"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Hero Area -->