<section class="team-area team-default-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 m-auto">
                <div class="section-title text-center">
                    <h2 class="title">Team Member</h2>
                    <div class="desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper-container-wrap swiper-nav-style team-slider-nav">
                    <div class="swiper-container team-slider-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team-member mb-sm-50">
                                    <div class="thumb">
                                        {% include 'mixin/img.twig' with {
                                            'src': 'http://dummyimage.com/370x400/a6a6ff',
                                            'alt': 'foto',
                                            'style': 'object-fit: contain;'
                                        } only %}
                                        <div class="member-icons">
                                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                            <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="member-info">
                                            <h4 class="name">Rosa Lawson</h4>
                                            <h6 class="designation">Team Member</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member mb-sm-50">
                                    <div class="thumb">
                                        <div class="thumb">
                                            {% include 'mixin/img.twig' with {
                                                'src': 'http://dummyimage.com/370x400/a6a6ff',
                                                'alt': 'foto',
                                                'style': 'object-fit: contain;'
                                            } only %}
                                            <div class="member-icons">
                                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="member-info">
                                            <h4 class="name">Mario Palmer</h4>
                                            <h6 class="designation">Team Member</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member mb-xs-50">
                                    <div class="thumb">
                                        {% include 'mixin/img.twig' with {
                                            'src': 'http://dummyimage.com/370x400/a6a6ff',
                                            'alt': 'foto',
                                            'style': 'object-fit: contain;'
                                        } only %}
                                        <div class="member-icons">
                                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                            <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="member-info">
                                            <h4 class="name">Maria Randall</h4>
                                            <h6 class="designation">Team Member</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member">
                                    <div class="thumb">
                                        {% include 'mixin/img.twig' with {
                                            'src': 'http://dummyimage.com/370x400/a6a6ff',
                                            'alt': 'foto',
                                            'style': 'object-fit: contain;'
                                        } only %}
                                        <div class="member-icons">
                                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                            <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="member-info">
                                            <h4 class="name">Yousif Cross</h4>
                                            <h6 class="designation">Team Member</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member mb-xs-50">
                                    <div class="thumb">
                                        {% include 'mixin/img.twig' with {
                                            'src': 'http://dummyimage.com/370x400/a6a6ff',
                                            'alt': 'foto',
                                            'style': 'object-fit: contain;'
                                        } only %}
                                        <div class="member-icons">
                                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                            <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="member-info">
                                            <h4 class="name">Maria Randall</h4>
                                            <h6 class="designation">Team Member</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>