<section class="product-area latest-product-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-auto">
                <div class="section-title text-center">
                    <div class="subtitle">Awesome Shop</div>
                    <h2 class="title">Related products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper-container-wrap swiper-nav-style product-slider-nav">
                    <div class="swiper-container product-related-slider-container">
                        <div class="swiper-wrapper">
                        <!-- Start Product Item -->
                        {% include 'catalog.category.product.slider.twig' with {'products': product.relations} %}
                        <!-- End Product Item -->
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>
