<!-- Start Shipping Info -->
<section class="featured-area featured-style3-area">
    <div class="container">
        <div class="featured-items">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="featured-item">
                        <div class="icon">
                            {% include 'mixin/img.twig' with {
                                'src': "/resource/img/delivery.webp",
                                'alt': 'delivery',
                                'style': 'height: 28px; width=40px; object-fit: contain;'
                            } only %}
                        </div>
                        <div class="media-body">
                            <h6>Free Shipping</h6>
                            <span>{{ parameter('var_shipping', 'On order over $99') }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="featured-item">
                        <div class="icon">
                            {% include 'mixin/img.twig' with {
                                'src': "/resource/img/support.webp",
                                'alt': 'support',
                                'style': 'height: 35px; width=40px; object-fit: contain;'
                            } only %}
                        </div>
                        <div class="media-body">
                            <h6>24/7 Support</h6>
                            <span>{{ parameter('var_support', 'Live Chat Or Call.') }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="featured-item">
                        <div class="icon">
                            {% include 'mixin/img.twig' with {
                                'src': "/resource/img/payment.webp",
                                'alt': 'payment',
                                'style': 'height: 33px; width=40px; object-fit: contain;'
                            } only %}
                        </div>
                        <div class="media-body">
                            <h6>Online Payment</h6>
                            <span>{{ parameter('var_payment', 'Secure Payment Services.') }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="featured-item">
                        <div class="icon" >
                            {% include 'mixin/img.twig' with {
                                'src': "/resource/img/return.webp",
                                'alt': 'payment',
                                'style': 'height: 30px; width=40px; object-fit: contain;'
                            } only %}
                        </div>
                        <div class="media-body">
                            <h6>Easy Return</h6>
                            <span>{{ parameter('var_return', 'Hassle Free Shopping.') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Shipping Info -->
