<!-- Start Shipping Info -->
<section class="featured-area featured-style3-area">
    <div class="container">
        <div class="featured-items">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="featured-item">
                        <div class="icon">
                            <img src="/resource/img/delivery.webp" alt="Image" width="40" height="28">
                        </div>
                        <div class="media-body">
                            <h6>Free Shipping</h6>
                            <span>{{ parameter('var_shipping', 'On order over $99') }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="featured-item">
                        <div class="icon">
                            <img src="/resource/img/support.webp" alt="Image" width="40" height="35">
                        </div>
                        <div class="media-body">
                            <h6>24/7 Support</h6>
                            <span>{{ parameter('var_support', 'Live Chat Or Call.') }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="featured-item">
                        <div class="icon">
                            <img src="/resource/img/payment.webp" alt="Image" width="40" height="33">
                        </div>
                        <div class="media-body">
                            <h6>Online Payment</h6>
                            <span>{{ parameter('var_payment', 'Secure Payment Services.') }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="featured-item">
                        <div class="icon" >
                            <img src="/resource/img/return.webp" alt="Image" width="40" height="30">
                        </div>
                        <div class="media-body">
                            <h6>Easy Return</h6>
                            <span>{{ parameter('var_return', 'Hassle Free Shopping.') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Shipping Info -->
