<!-- Start Mega Category Menu -->

    <button class="menu-btn"><span>Browse Categories</span></button>
    <ul class="vmenu-content vmenu-content-none">
        {% include 'common/header-navigation-item.twig' %}
    </ul>

<!-- End Mega Category Menu -->
