<ul class="main-menu nav position-relative">
    <li class="has-submenu"><a href="/">Home</a></li>
    <li class="has-submenu position-static"><a href="#/"><span>Shop</span></a>
        <ul class="submenu-nav submenu-nav-mega submenu-nav-banner">
            <li class="mega-menu-item"><a href="#/" class="mega-title"><span>Shop Layouts</span></a>
                <ul>
                    <li><a href="/catalog">Catalog</a></li>
                </ul>
            </li>
            <li class="mega-menu-item"><a href="#/" class="mega-title"><span>Shop Pages</span></a>
                <ul>
                    <li><a href="/cart">Cart page</a></li>
                    <li><a href="/user/profile">My Account</a></li>
                </ul>
            </li>
            <li class="megamenu-banner-item"><a href="/catalog" class="megamenu-banner" data-bg-img="/resource/img/large.jpg"></a></li>
        </ul>
    </li>
    <li class="has-submenu"><a href="/">Pages</a>
        <ul class="submenu-nav">
            <li><a href="/user/login"> Login </a></li>
            <li><a href="/user/register"> Register</a></li>
            <li><a href="/guestbook"> Guestbook</a></li>
        </ul>
    </li>
    <li class="has-submenu"><a href="/">Blog</a>
        <ul class="submenu-nav">
            <li><a href="/novosti">Новости</a></li>
            <li><a href="/akcii">Акции</a></li>
        </ul>
    </li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/contacts">Contact Us</a></li>
</ul>